In [2]:
import pandas as pd
import numpy as np
import os
from ipywidgets import IntProgress
from IPython.display import display

In [3]:
seriesDF = pd.read_csv('data/CumSumCombinedSeries.csv').set_index('ContestId')
contestsDF = pd.read_csv('data/WorkingData.csv').set_index('ContestId')

In [8]:
contestsDF = contestsDF.assign(SuccessThreshold= lambda x:(contestsDF['TotalPrizeAmount'].astype(float)/(contestsDF['EntryFeeAmount'].astype(float))).astype(int))
contestsDF = contestsDF[['SuccessThreshold']]

In [10]:
contestsDF.head()

           SuccessThreshold
ContestId
7963004              100000
7963437               12500
8296224                  50
8296544                 100
8494213               60000

In [ ]:
for index, contest in df[:1].iterrows():
#     for column in reversed(df.columns):