In [1]:
import pandas as pd
import numpy as np

In [2]:
chunkMapDF = pd.read_csv('data/ChunkMap.csv')

In [101]:
chunkDF[chunkDF['ContestId']==56825102]

       ContestId  SecondsRemaining  Entries
65501   56825102               113        2
65502   56825102               114        4
65503   56825102               116        2
65504   56825102               118        3
65505   56825102               119        1
65506   56825102               120        1
65507   56825102               122        1
65508   56825102               124        2
65509   56825102               125        1
65510   56825102               126        1
65511   56825102               128        5
65512   56825102               135        1
65513   56825102               138        6
65514   56825102               141        1
65515   56825102               142        2
65516   56825102               143        3
65517   56825102               146        4
65518   56825102               147        1
65519   56825102               148        1
65520   56825102               150        2
65521   56825102               153        1
65522   56825102               156        1
65523   56825102               157        1
65524   56825102               158        2
65525   56825102               161        2
65526   56825102               162        3
65527   56825102               169        2
65528   56825102               170        1
65529   56825102               171        2
65530   56825102               173        1
...          ...               ...      ...
65761   56825102               852        1
65762   56825102               853        2
65763   56825102               854        1
65764   56825102               858        1
65765   56825102               861        1
65766   56825102               884        1
65767   56825102               887        1
65768   56825102               888        1
65769   56825102               894        1
65770   56825102               898        1
65771   56825102               908        1
65772   56825102               918        1
65773   56825102               919        1
65774   56825102               933        1
65775   56825102               961        1
65776   56825102               974        1
65777   56825102               986        1
65778   56825102              1006        1
65779   56825102              1007        1
65780   56825102              1009        1
65781   56825102              1012        1
65782   56825102              1015        1
65783   56825102              1022        1
65784   56825102              1032        1
65785   56825102              1037        2
65786   56825102              1057        1
65787   56825102              1075        1
65788   56825102              1085        1
65789   56825102              1087        3
65790   56825102              1088        1

[290 rows x 3 columns]

In [112]:
slopes = []
for chunkName in chunkMapDF['Chunk'].unique()[:]:
    print(chunkName)
    chunk = chunkMapDF[chunkMapDF['Chunk'] == chunkName]
    chunkDF = pd.read_csv('data/chunks/'+chunkName+".csv").drop(columns=['Unnamed: 0'])
    for cid in chunk['ContestId'][:]:
                
        numMeasures = 5

        
        df = chunkDF[chunkDF['ContestId']==cid]
        df = df.assign(SecondsTill=df['SecondsRemaining']-1440)
        df = df[df['SecondsTill'] >= 0].sort_values(by='SecondsTill').reset_index()
        if(len(df) < numMeasures):
            continue;
        else:
            final = df.iloc[0]
            entrySum = final.Entries
            timePassed = final.SecondsTill

        if(len(df) < numMeasures):
            numMeasures = len(df)
    #         if(len(df) >=numMeasures):
    #             print(df.head(numMeasures))
        for i in range(1, numMeasures):
            curr = df.iloc[i]
            entrySum+= curr['Entries']
            timePassed = curr['SecondsTill']
        if(timePassed == 0):
            timePassed = 1
        slope = entrySum/timePassed
        slopes.append({'ContestId':final.ContestId, 'InstantaneousSlope':final.Entries, 'AvgSlope':slope})

chunk1
chunk2
chunk3
chunk4
chunk5
chunk6
chunk7
chunk8
chunk9
chunk10
chunk11
chunk12
chunk13
chunk14
chunk15
chunk16
chunk17
chunk18
chunk19
chunk20
chunk21
chunk22
chunk23
chunk24
chunk25
chunk26
chunk27
chunk28
chunk29
chunk30
chunk31
chunk32
chunk33
chunk34
chunk35
chunk36
chunk37
chunk38
chunk39
chunk40
chunk41
chunk42
chunk43
chunk44
chunk45
chunk46
chunk47
chunk48

In [114]:
slopeDF = pd.DataFrame(data=slopes)

In [120]:
successes = pd.read_csv('data/WorkedData.csv').set_index('ContestId')[['Success']]

In [125]:
pd.merge(slopeDF, successes, on='ContestId', how='left').set_index('ContestId').dropna().to_csv('SlopesForJackson.csv')