In [1]:
import pandas as pd
import numpy as np
import os
from ipywidgets import IntProgress
from IPython.display import display

In [34]:
df = pd.read_csv('data/CombinedSeries.csv')
df = df.set_index('ContestId')
backup = df
backup.head()

,00_HoursOut,01_HoursOut,02_HoursOut,03_HoursOut,04_HoursOut,05_HoursOut,06_HoursOut,07_HoursOut,08_HoursOut,09_HoursOut,...,40_HoursOut,41_HoursOut,42_HoursOut,43_HoursOut,44_HoursOut,45_HoursOut,46_HoursOut,47_HoursOut,48_HoursOut,RestOf_HoursOut
ContestId,,,,,,,,,,,,,,,,,,,,,
55826033,139854,29527,5445,2741,1486,569,1009,501,427,730,...,0,0,0,0,0,0,0,0,0,0
56610037,5285,890,617,323,153,109,86,138,134,157,...,0,0,0,0,0,0,0,0,0,0
56645954,96,7,10,20,35,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
56751298,135,86,6,4,5,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
56776765,27229,2486,11,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
contestsBar = IntProgress(min=0, max=len(df), description='Contests:')
display(contestsBar)

for index, contest in df.iterrows():
    cumsum = 0
    for column in reversed(df.columns):
        cumsum += contest[column]
        contest[column] = cumsum
    contestsBar.value += 1

IntProgress(value=0, description='Contests:', max=479404)

,00_HoursOut,01_HoursOut,02_HoursOut,03_HoursOut,04_HoursOut,05_HoursOut,06_HoursOut,07_HoursOut,08_HoursOut,09_HoursOut,...,40_HoursOut,41_HoursOut,42_HoursOut,43_HoursOut,44_HoursOut,45_HoursOut,46_HoursOut,47_HoursOut,48_HoursOut,RestOf_HoursOut
ContestId,,,,,,,,,,,,,,,,,,,,,
55826033,186430,46576,17049,11604,8863,7377,6808,5799,5298,4871,...,0,0,0,0,0,0,0,0,0,0
56610037,7892,2607,1717,1100,777,624,515,429,291,157,...,0,0,0,0,0,0,0,0,0,0
56645954,168,72,65,55,35,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
56751298,238,103,17,11,7,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
56776765,29726,2497,11,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df.head()

In [37]:
df.to_csv('data/CumSumCombinedSeries.csv')